%%-*- mode: erlang -*-

{deps, [
            {'riakc', ".*", {git, "https://github.com/basho/riak-erlang-client.git", {branch, master}}},
            {'lager', ".*", {git, "https://github.com/basho/lager.git", {branch, master}}},
            {'pooler', ".*", {git, "https://github.com/seth/pooler.git", {branch, master}}}
       ]}.
