.DS_Store
*.tar.gz
*~
.#*
#*
priv
apps/*/*/#*
*.beam
apps/*/ebin/*.app
apps/*/logs/*
rel/*/*
!rel/files/*
!rel/reltool.config
deps/*
apps/*/doc/*.html
apps/*/doc/*.png
apps/*/doc/*.css
apps/*/doc/edoc-info
.eunit
logs/*
*.boot
*.script
erl_crash.dump
dialyzer.plt
*.swp
.project
.settings
tests
