{sub_dirs, [
        "apps/application_server",
        "apps/application_server_utils",
        "apps/game_cloud_api",
        "apps/game_session_server",
        "apps/game_session_counter",
        "rel"
       ]}.

{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_obsolete_guard, warning_as_erros]}.

{cover_print_enabled, true}.
{cover_enabled, true}.