[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {application_server, [
	 {server_addr, {{app_server_addr}} },
	 {server_port, {{app_server_port}} },
	 {server_mods, [
	    {"/create", create_api},
	    {"/read", read_api},
	    {"/update", update_api},
	    {"/delete", delete_api},
	    {"/register", register_api}
	 ]}
  ]},
  {application_server_api, [
	 {couchdb_addr, {{couchdb_addr}} },
	 {couchdb_port, {{couchdb_port}} },
	 {couchdb_db, {{couchdb_db}} }
  ]}
].
