[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {application_server, [
	 {server_addr, {{app_server_addr}} },
	 {server_port, {{app_server_port}} },
	 {server_mods, [
	    {"/create_save", create_save_api},
	    {"/read_by_name", read_by_name_api},
        {"/read_by_id", read_by_id_api},
	    {"/delete_by_name", delete_by_name_api},
        {"/delete_by_id", delete_by_id_api},
	    {"/register_player", register_player_api},
        {"/register_developer", register_developer_api},
        {"/register_game", register_game_api},
        {"/delete_player", delete_player_api}
	 ]}
  ]},
  {application_server_api, [
	 {couchdb_addr, {{couchdb_addr}} },
	 {couchdb_port, {{couchdb_port}} },
	 {couchdb_db, {{couchdb_db}} }
  ]}
].
